@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

// Contextual
$color-text-default: $color-primary-700;
$color-background-default: $color-primary-100;
$color-text-interactive-default: $clr-accent-400;
$color-text-interactive-hover: $color-accent-500;

$letter-spacing-loose: 0.16em;

// Body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

// General
$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

// Layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);

$section-padding-block: clamp(5rem, 10vh, 6rem);

$card-body-padding: $size-8;

$container-min-margin-inline: $size-4;
$container-max-width: 64rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;

// Buttons
$button-font-family: $body-font-family;
$button-font-size: $body-font-size;
$button-font-weight: $font-weight-bold;
$button-text-transform: none;
$button-padding: .75em 2em;
$button-border: 0;
