@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

// Layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);

$section-padding-block: clamp(5rem, 10vh, 6rem);

$card-body-padding: $size-8;

$container-min-margin-inline: $size-4;
$container-max-width: 64rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;
