@use "../abstracts/" as *;

.hours-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: $size-9;
  justify-content: center;
}

.hours-day-wrapper {
  display: flex;
  flex-direction: column;
  gap: $size-2;
  padding-inline: $size-9;
}
.hours-divider {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-color: hsl(from $color-primary-700 h s l / 0.5);
    height: 26px;
    width: 1px;
  }
  &:last-of-type::after {
    content: "";
    background-color: hsl(from $color-primary-700 h s l / 0.5);
    height: 26px;
    width: 1px;
  }
}
