@use '../abstracts/' as *;

.nav {
  --flex-column-gap: #{$navigation-spacing};
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: $navigation-spacing;

  a {
		color: $navigation-color;
	  font-family: $navigation-font-family;
	  font-weight: $navigation-font-weight;
	  font-size: $navigation-font-size;
    letter-spacing: $navigation-letter-spacing;
    text-decoration: none;
    text-transform: $navigation-text-transform;
  
    &:is(:hover, :focus) {
      color: $navigation-color-hover;
    }
  }
}